* { box-sizing: border-box;

font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif }
body{
  
}

/*FONTS*/
@font-face {
  font-family: 'ansonregular';
  src: url('anson-regular-webfont.eot');
  src: url('anson-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('anson-regular-webfont.woff') format('woff'),
       url('anson-regular-webfont.ttf') format('truetype'),
       url('anson-regular-webfont.svg#ansonregular') format('svg');
  font-weight: normal;
  font-style: normal;
} 
h1 {
  font-family: Helvetica, sans-serif;
  font-size: 2rem;
  background-color: pink;
}
h1.fonts-loaded {
  font-family: 'ansonregular', Helvetica, sans-serif;
  font-size: 2rem;
  background-color: pink;

}
h2 {
  font-family: Helvetica, sans-serif;
  font-size: 1.5rem;
  background-color: pink;
}
h2.fonts-loaded {
  font-family: 'ansonregular', Helvetica, sans-serif;
  font-size: 1.5rem;
  background-color: pink;
}



/*GRID SET UP:*/

#main {
    grid-area: main;
    

  }
.playlist {
    grid-area: playlist;

  }
#about {
    grid-area: about;
  }
.grid1 {
  display: grid;
    grid-template-columns: 50% 50%;   /*number of columns and sizes*/
   grid-template-rows: auto;   /*number of rows and sizes*/
    grid-template-areas:  
      'main playlist'
      'about about';
    grid-column-gap: 1rem;
    align-items: center;  /*elements insie cells horisontally */
    justify-content: center; /*elements insie cells vertically */
    justify-content: space-around; /*grid in container horisontally */
    align-content: space-around; /*grid in container vertically */}

    .section
    {
      align-content: center;
    }
.center{
  background-color:  rgb(160, 231, 253);

}
    main {
      height: 100vw;
      margin: 0 auto;
    }
    #playlist
  {      background-color: rgb(255, 255, 101);}
    #recomend{
      background-color:pink;
      height: 100vw;
    }

    #about {
      background-color: rgb(160, 231, 253);

    }


/*MAIN*/
/*PLAYLIST*/

/*the whole quiz*/
#playlistQuiz{
 padding: 0 2rem 2rem 2rem;
}

/*ABOUT*/

/*MENU*/
.menu{
  background-color:pink;
  height: 1.5rem;
  display: inline;
  padding: 1rem pink; 
}
.menu:hover{
  background-color:  rgb(160, 231, 253);
}

#menu{
  border: 2rem  rgb(160, 231, 253);
}



/*RESPONSIVE DESIGN*/
/*tablet and desktop*/
@media screen and (max-width: 768px) {
  .grid1 {
    display: grid;
    grid-template-columns: 10% 40% 10px 40% 10%;  /*number of columns and sizes*/
    grid-template-rows: auto;   /*number of rows and sizes*/
    grid-template-areas:  
      '. playlist playlist playlist.'
      '. main . about .'
      '..about..';
      grid-column-gap: 1rem;
     
    }}

    main{height: 550px;}
    #recomend{height: 350px;}

.playlistGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  grid-column-gap: 1rem;
}